<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.project.repository.LoginMapper">

	<select id="loginCheck" resultType="map">
		select
			id
			, user_id
			, password
			, name
			, phone
			, email
			, role
		from users
	</select>
</mapper>